@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body{
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Montserrat', sans-serif;
}

nav ul{
   display: flex; 
   list-style-type: none;
   height: 65px;
   background-color: black;
   color: white;
   align-items: center;
   
}
nav ul li {
    padding: 0 12px;
}


.brand img{
    width: 45px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    min-height: 53vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 25px auto;
    width: 70%;
    border-radius: 12px;
    padding: 35px;
    background-image: url('bg.jpg');

}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 15px;
}

.icons i{
    cursor: pointer;
}
#myProgressBar {
    width: 80vw;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    width: 44vw;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;

}

.songItem img{
    width: 43px;
    margin: 0 22px;
    border-radius: 20px;
}

.timestamp {
    margin: 0 10px;
}

.far {
    margin-right: 10px;
}